/*navegation*/
.nav {
    background: rgba(0, 0, 0, 0.2);
    height: 80px;
    color: aliceblue;
}

.nav_conteiner {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

/*logo*/
.nav_logo {
    color: rgba(255, 68, 0, 0.801);
    font-size: 2em;
    font-weight: 900;
    text-decoration: none;
}

.nav_logo:hover {
    color: rgba(255, 68, 0, 0.842);
}

/*manu----a*/
.nav_menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav_menu #home {
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: .2s;
}

.nav_menu a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 3px;
    border-radius: 5%;
    font-size: large;
    color: var(--naranja);
    text-decoration: none;
}

.nav_.nav_menu .ini a {
    color: #ccc;
    margin-left: 0px;
    text-decoration: none;
}

.nav_menu a:hover {
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: .2s;
}

.nav_label,
.nav_input {
    display: none;
}

.active {
    transform: translate(-600px);
}

/*button*/
button {
    height: 30px;
    width: 30px;
    background: #ccc;
    border: solid black 1.5px;
    cursor: pointer;
}

button:hover {
    height: 35px;
    width: 35px;
}

@media (max-width: 700px) {
    .nav_label {
        display: block;
        cursor: pointer;
    }

    .ini {
        display: none;
    }

    .nav_menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #f08080;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
    }

    .nav_label:checked+.nav_menu {
        clip-path: circle(100% at center);
    }
}